[submodule "modules/_undersea-dots/dotfiles"]
	path = modules/_undersea-dots/dotfiles
	url = https://github.com/PunkunHm/undersea-dots
[submodule "dotfiles"]
	path = modules/_kde-dots/undersea-dots-kde
	url = https://github.com/PunkunHm/undersea-dots-kde.git
